.password_field {
	position: relative;
}

.visibility {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 28px;
	width: 28px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 23px;
	cursor: pointer;
	opacity: 0.65;
}

.show {
	background-image: url(./show.png);
}

.hide {
	background-image: url(./hide.png);
}

.visibility:hover {
	opacity: 0.3;
}