.login {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  width: 360px;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 2px 2px 10px 1px #00000085;
}

.header {
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
}

.link {
	text-align: right;
	margin-bottom: 15px;
}