.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.system {
	align-items: center;
}

.mine {
	align-items: flex-end;
}

.header {
	text-align: start;
	font-weight: bold;
	width: auto;
	margin-bottom: 5px;
}

.body {
	display: flex;
	width: 100%;
}

.system_message_body {
	justify-content: center;
}

.mine_message_body {
	flex-direction: row-reverse;
}

.other_message_body {
	flex-direction: reverse;
}

.date {
	color: grey;
}

.mine_message_date {
	margin-right: -50px;
  padding-left: 10px;
}

.other_message_date {
	margin-left: -50px;
  padding-right: 10px;
}

.alert {
	padding: .5rem .9rem;
}

.text {
	text-align: left;
	max-width: 100%;
	width: auto;
}

.system_message_text {
	padding: .5rem 2rem;
}