.chat {
	display: flex;
  flex-direction: row;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
	width: 80%;
	height: 100%;
  padding: 25px;
  box-shadow: 2px 2px 10px 1px #00000085;
}

.message_list {
	height: 90%;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	word-wrap: break-word;
	overflow-y: auto;
  overflow-x: hidden;
}

.input {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	width: calc(80% - 10px);
	margin-right: 10px;
}

.field {
	margin-right: 20px;
}

.left_bar {
	height: 100%;
	width: 20%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.logout {
	position: relative;
	margin-bottom: 50px;
}

textarea {
  white-space: nowrap;
}